<%= form_for(@participant) do |f| %>
<div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</div>


<div class="form-group">
	<%= f.label :email %><br>
	<%= f.text_field :email %>
</div>


<div class="form-group">
	<%= f.label :mobile_no %><br>
	<%= f.text_field :mobile_no %>
</div>


<div class="form-group">
	<%= f.submit %>
</div>


<% end %>