<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
<%= form_for(@participant) do |f| %>
<div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :name ,class: "form-control input-large", required: true%>
</div>


<div class="form-group">
	<%= f.label :email %><br>
	<%= f.text_field :email,class: "form-control input-large", required: true %>
</div>


<div class="form-group">
	<%= f.label :mobile_no %><br>
	<%= f.text_field :mobileno,class: "form-control input-large", required: true %>
</div>


<div class="form-group">
	<%= f.submit "Register & Pay", class: "btn  btn-primary"%>
</div>


<% end %>
</div>
</div>
</div>
